.titulo-verde{
    color: #457a00;
}
.titulo-verde-claro{
    color: chartreuse;
}
.titulo-verdinho{
    color: #457a00;
}
.titulo-verdao{
    color: darkgreen;
}
.titulo-branco{
    color: white;
}
.titulo-branquinho{
    color: white;
}
.titulo-brancao{
    color: white;
}
.branko{
    color: white;
}