 .identificação{
    color: blue;
 }
.galeria{
   width: 50%;
}
 body{
   background-color: black;
   color: rgb(0, 251, 255);
   display: flex;
    justify-content: center;
    align-items: flex-start;
 }